#graph {
    width: device-width;
    height: 300px;
    margin: 30px auto 10px;
    max-width: 800px;
}

#dice_area{
}

#turn_area {
    text-align: center;
    margin: 10px auto;
}

.turn1, .turn2 {
    font-weight: bold;
    color: red;
    font-size: 120%;
}

ul.buttonlist {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.buttonlist li {
    list-style-type: none;
    line-height: 50px;
    margin: 0px 5px;
    display: inline;
}

.dice_button {
    width: 50px;
    height: 40px;
    line-height: 40px;
}

.mode_button, .clear_button {
    width: 80px;
    height: 40px;
    line-height: 40px;
}

.minus input {
    color: red;
}

#table_area {
    width: device-width;
    max-width: 400px;
    margin: 20px auto 10px;
}

td, th {
    text-align: center;
}

td.dice, td.rate {
    width: 33%;
}

#footer{
    text-align: center;
    margin: 0 auto 20px;
}